# remove credentials
.eggs/*
bandit_analysis.txt
*.h5
/commands/.env
venv/*
versions_and*
my_env/*
/volumes/*
notebook/*
cover/*
.coverage
!/volumes/in_data
env/*
.idea/*
scratch/*
models/*
!models/.gitkeep
config/*
!config/test_config.yml

*.env
*.pkl
*.npy
*.tgz
*.gz
*.tar
*.npz
*.swp


*/.ipynb_checkpoints/*
kubernetes-manifests/* 
sample_outdata/*
__pycache__/*

reports/
!reports/.gitkeep
data/interim/*
data/raw/*
!data/interim/subj_mapping.json
!data/raw/STI_public_metadata_records_sample100.jsonl
volumes/big_data/*
!volumes/big_data/.gitkeep
tests/test_data/*
!tests/test_data/.gitkeep
!tests/test_data/results_small.json

misc-ignore/*
.ipynb_checkpoints/*

notebook/src/*
notebook/data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.hypothesis/*
.pytest_cache/*
nosetests.xml
coverage.xml

# Translations
*.mo

